---
http_interactions:
- request:
    method: post
    uri: https://beta4.api.climatiq.io/estimate
    body:
      encoding: UTF-8
      string: '{"emission_factor":{"activity_id":"waste_type_food_waste-disposal_method_landfilled","source":"EPA","region":"US","year":2022,"source_lca_activity":"end_of_life","data_version":"2.2"},"parameters":{"weight":20978.63,"weight_unit":"g"}}'
    headers:
      'Content-Type: ':
      - application/json
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"co2e":13.412489059284663,"co2e_unit":"kg","co2e_calculation_method":"ar4","co2e_calculation_origin":"source","emission_factor":{"name":"Food
        Waste - Landfilled","activity_id":"waste_type_food_waste-disposal_method_landfilled","id":"163972ef-d865-4bbe-ab3b-f8b2465cf825","access_type":"public","source":"EPA","source_dataset":"GHG
        Emission Factors Hub","year":2022,"region":"US","category":"Food and Organic
        Waste","source_lca_activity":"end_of_life","data_quality_flags":[]},"constituent_gases":{"co2e_total":13.412489059284663,"co2e_other":null,"co2":null,"ch4":null,"n2o":null},"activity_data":{"activity_value":0.023124981136697694,"activity_unit":"short
        ton"},"audit_trail":"selector"}'
  recorded_at: Fri, 04 Aug 2023 01:00:11 GMT
- request:
    method: get
    uri: https://api.api-ninjas.com/v1/nutrition?query=2.0%20lbs%20Chicken%200.5%20lbs%20Cheese%202.0%20lbs%20ground%20beef%202.0%20oz%20eggs%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - X-Api-Key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amzn-Requestid:
      - 75b35e36-8fbb-4d01-8d66-4e7f09867d0b
      Allow:
      - GET, OPTIONS, POST
      X-Amz-Apigw-Id:
      - UO4ggEEgPHcELhg=
    body:
      encoding: UTF-8
      string: '[{"name": "chicken", "calories": 2019.8, "serving_size_g": 907.184,
        "fat_total_g": 117.0, "fat_saturated_g": 33.2, "protein_g": 215.3, "sodium_mg":
        655, "potassium_mg": 1625, "cholesterol_mg": 835, "carbohydrates_total_g":
        0.4, "fiber_g": 0.0, "sugar_g": 0.0}, {"name": "cheese", "calories": 893.4,
        "serving_size_g": 226.796, "fat_total_g": 74.9, "fat_saturated_g": 42.9, "protein_g":
        51.6, "sodium_mg": 1500, "potassium_mg": 1043, "cholesterol_mg": 227, "carbohydrates_total_g":
        7.2, "fiber_g": 0.0, "sugar_g": 1.1}, {"name": "ground beef", "calories":
        2527.1, "serving_size_g": 907.184, "fat_total_g": 155.1, "fat_saturated_g":
        58.8, "protein_g": 247.0, "sodium_mg": 834, "potassium_mg": 2028, "cholesterol_mg":
        817, "carbohydrates_total_g": 0.0, "fiber_g": 0.0, "sugar_g": 0.0}, {"name":
        "eggs", "calories": 81.8, "serving_size_g": 56.699, "fat_total_g": 5.3, "fat_saturated_g":
        1.8, "protein_g": 7.1, "sodium_mg": 81, "potassium_mg": 113, "cholesterol_mg":
        211, "carbohydrates_total_g": 0.4, "fiber_g": 0.0, "sugar_g": 0.2}]'
  recorded_at: Thu, 07 Mar 2024 00:17:32 GMT
- request:
    method: post
    uri: https://api.climatiq.io/data/v1/estimate
    body:
      encoding: UTF-8
      string: '{"emission_factor":{"activity_id":"waste_type_food_waste-disposal_method_landfilled","source":"EPA","region":"US","year":2022,"source_lca_activity":"end_of_life","data_version":"2.2"},"parameters":{"weight":2097.863,"weight_unit":"g"}}'
    headers:
      Authorization:
      - Authorization
      'Content-Type: ':
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"co2e":1.341,"co2e_unit":"kg","co2e_calculation_method":"ar4","co2e_calculation_origin":"source","emission_factor":{"name":"Food
        Waste - Landfilled","activity_id":"waste_type_food_waste-disposal_method_landfilled","id":"163972ef-d865-4bbe-ab3b-f8b2465cf825","access_type":"public","source":"EPA","source_dataset":"GHG
        Emission Factors Hub","year":2022,"region":"US","category":"Food and Organic
        Waste","source_lca_activity":"end_of_life","data_quality_flags":[]},"constituent_gases":{"co2e_total":1.341,"co2e_other":null,"co2":null,"ch4":null,"n2o":null},"activity_data":{"activity_value":0.002312,"activity_unit":"short
        ton"},"audit_trail":"selector"}'
  recorded_at: Thu, 07 Mar 2024 00:17:32 GMT
recorded_with: VCR 6.2.0
