---
http_interactions:
- request:
    method: get
    uri: https://trackapi.nutritionix.com/v2/search/instant?query=grape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-App-Id:
      - 8c6494e4
      X-App-Key:
      - c833b78308e3d9714574fd4fcc1dd770
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31ad-IwCH5k3wJOqhC5Wrn1bCfVp+Q44"
      Status:
      - 200 OK
      Surrogate-Control:
      - no-store
    body:
      encoding: ASCII-8BIT
      string: '{"common":[{"food_name":"grape","serving_unit":"grapes","tag_name":"grape","serving_qty":10,"common_type":null,"tag_id":"586","photo":{"thumb":"https://nix-tag-images.s3.amazonaws.com/586_thumb.jpg"},"locale":"en_US"},{"food_name":"grapes","serving_unit":"grapes","tag_name":"grape","serving_qty":10,"common_type":null,"tag_id":"586","photo":{"thumb":"https://nix-tag-images.s3.amazonaws.com/586_thumb.jpg"},"locale":"en_US"},{"food_name":"grapeseed","serving_unit":"tablespoon","tag_name":"grapeseed
        oil","serving_qty":1,"common_type":null,"tag_id":"2732","photo":{"thumb":"https://nix-tag-images.s3.amazonaws.com/2732_thumb.jpg"},"locale":"en_US"},{"food_name":"grape
        jam","serving_unit":"tb[...]
